html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Customfront';
    src: url('Customfront1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Customfront', serif;
    background-image: url('bgimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #d0d0d0;
    font-family: 'Customfront', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
}

.container {
    background-color: rgba(10, 10, 10, 0.8);
    max-width: 800px;
    width: 90%;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: 90vh;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 3em;
    color: #e0e0e0;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2em;
    color: #b0b0b0;
    margin-bottom: 20px;
}

main p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

blockquote {
    font-style: italic;
    border-left: 4px solid #4CAF50;
    padding-left: 20px;
    margin: 20px 0;
    color: #b0b0b0;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

nav a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #45a049;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #808080;
}

/* Добавим стили для скроллбара */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #4CAF50;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #45a049;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    main p, nav a {
        font-size: 1em;
    }
}